1 - What are data structures, and why are they important ?
  Ans - Data structure is the way of organise the data to access and to manipulate for use. Its important as its easy to access and to manupulate.

2 - Explain the difference between mutable and immutable data types with examples ?
  Ans - Mutable data type can be changes while immutable data type can not be changed, Mutable data type example is List while tupple is immutable.

3 - What are the main differences between lists and tuples in Python ?
  Ans - Lists are mutable and tuples are unmutable
        List can represent as [] while tupple represent as ()

4 - Describe how dictionaries store data ?
  Ans - dctonaries sotre data in the form of key value pair.

5 - Why might you use a set instead of a list in Python ?
  Ans - sets store unique data in a order and avoid duplicate , so it is efficient to use and highly optmise in various use cases over Lists.

6 - What is a string in Python, and how is it different from a list?
  Ans - A string is  alphanumeric character inside a single or double quote while a list can containt different type of data, strings are immutable while list are mutable.

7 - How do tuples ensure data integrity in Python ?
  Ans - tuples are immutable, so you can not edit the data,so its a effective way for store the data for data integrity.

8 - What is a hash table, and how does it relate to dictionaries in Python ?
  Ans - Hash table store key value pair and dictionaries are build using hash tables.

9 -  Can lists contain different data types in Python ?
  Ans - Yes.

10 - Explain why strings are immutable in Python ?
  Ans - It was created so that it can not be edited for data integrity and One big reason is performance - strings are used very often, so Python is able to do many optimizatioms that won't be possible if strings were mutable

11 - What advantages do dictionaries offer over lists for certain tasks ?
  Ans - The serach function works faster in dictonaries while comparae to list as it stores data in pair form with key value.

12 - Describe a scenario where using a tuple would be preferable over a list ?
  Ans - Tupple is prefferd in scenario where we expect the data will not suppose change ( e.g date of birth/PAN no/Aadhar no etc)

13 - How do sets handle duplicate values in Python ?
  Ans - sets wont allow duplicate value as it contanins unique value.

14 - How does the “in” keyword work differently for lists and dictionaries ?
  Ans - the "in" operator check the value equals in List while "in" operator checks the key value in dictonary

15 - Can you modify the elements of a tuple? Explain why or why not ?
  Ans - You can not modify the elemensts of tupples immutable and created to not make any changes.

16 - What is a nested dictionary, and give an example of its use case ?
  Ans - A  dictonary inside a dictonary is nested dictonary, the use cases could be Employee records: Organize employees by department, with each employee's details in a nested dictionary.

17 - Describe the time complexity of accessing elements in a dictionary ?
  Ans -The time complexity of accessing a value in a dictionary is usually O(1), which means that it takes a constant amount of time to search for a value in a dictionary, regardless of the size of the dictionary.

18 - in what situations are lists preferred over dictionaries?
  Ans - if the requirement is to get the data in order manner with a sequence, list is preferred over dictionaries.

19 - Why are dictionaries considered unordered, and how does that affect data retrieval?
  Ans - dictionaries considered unordered as it do not maintain any inherent order of the items based on when they were added and its affect the data retrieval as It takes a constant amount of time hash table implementation used in Python dictionaries.

20 -  Explain the difference between a list and a dictionary in terms of data retrieval ?

Ans - data from the list can be retrieve using the index, while the data of the dictionary can be retrieve using keys.

In [ ]:
##  1-Write a code to create a string with your name and print it

my_name = 'Mukesh'
print(my_name)

Mukesh

In [ ]:
 ## 2 - Write a code to find the length of the string "Hello World" ?

 len("Hello World")

11

In [ ]:
 ## 3 - Write a code to slice the first 3 characters from the string "Python Programming" ?

 ptn = "Python Programming"
 ptn[0:3]

'Pyt'

In [ ]:
## 4 - Write a code to convert the string "hello" to uppercase ?

U = "hello"
U.upper()

'HELLO'

In [3]:
## 5 -  Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

x = "I like apple"
m = x.replace("apple", "orange")
print(m)

I like orange

In [5]:
## 6 - Write a code to create a list with numbers 1 to 5 and print it ?

List_A = [1,2,3,4,5]
print(List_A)

[1, 2, 3, 4, 5]

In [9]:
## 7 - Write a code to append the number 10 to the list [1, 2, 3, 4] ?

List_B = [1,2,3,4]
List_B.append(10)
print(List_B)

[1, 2, 3, 4, 10]

In [10]:
## 8 - Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?

List_C = [1,2,3,4,5]
List_C.pop(2)
print(List_C)

[1, 2, 4, 5]

In [12]:
## 9 -  Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

List_D = ['a', 'b', 'c', 'd']
List_D[1]

'b'

In [33]:
## 10 -  Write a code to reverse the list [10, 20, 30, 40, 50] ?

List_E = [10, 20, 30, 40, 50]
List_E.reverse()
print(List_E)

[50, 40, 30, 20, 10]

In [39]:
## 11- Write a code to create a tuple with the elements 10, 20, 30 and print it ?

b = (10, 20, 30)
print(b)

(10, 20, 30)

In [52]:
## 12 - Write a code to access the first element of the tuple ('apple', 'banana', 'cherry') ?

c = ('apple', 'banana', 'cherry')
c[0]

'apple'

In [50]:
## 13 - Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2) ?

d = (1, 2, 3, 2, 4, 2)
d.count(2)

3

In [64]:
## 14 - Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
e = ('dog', 'cat', 'rabbit')
e.index('cat')

1

In [67]:
## 15 - Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana') ?

f = ('apple', 'orange', 'banana')
if "banana" in f:
  print("present")
else:
  print("not preset")

present

In [71]:
## 16 - Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it ?

set_1 = {1, 2, 3, 4, 5}
print(set_1)

{1, 2, 3, 4, 5}

In [73]:
## 17 - Write a code to add the element 6 to the set {1, 2, 3, 4} ?

set_2 = {1, 2, 3, 4}
set_2.add(6)
print(set_2)

{1, 2, 3, 4, 6}

In [75]:
## 18 - Write a code to create a tuple with the elements 10, 20, 30 and print it ?

tpl = (10, 20, 20)
print(tpl)

(10, 20, 20)

In [76]:
## 19 -  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry') ?

tpl1 = ('apple', 'banana', 'cherry')
tpl1[0]

'apple'

In [77]:
## 20 -  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2) ?

g = (1, 2, 3, 2, 4, 2)
g.count(2)

3

In [78]:
## 21 - Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?

h = ('dog', 'cat', 'rabbit')
h.index('cat')

1

In [79]:
## 22 - Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?

i = ('apple', 'orange', 'banana')
if "banana" in i:
  print("present")
else:
  print("not preset")

present

In [80]:
## 23 - . Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it ?

j = {1, 2, 3, 4, 5}
print(j)

{1, 2, 3, 4, 5}

In [81]:
## 24 - Write a code to add the element 6 to the set {1, 2, 3, 4}

k = {1, 2, 3, 4}
k.add(6)
print(k)

{1, 2, 3, 4, 6}